* {
  background: rgb(31, 30, 30);
  color: white;
}
body {
  overflow: hidden;
}

.carouselButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.carouselButton {
  border: none;
  width: 100px;
}

html,
body {
  padding: 0;
  margin: 0;
}

h3 {
  margin: 10px;
}

h2 {
  background: none;
}
