* {
  background: linear-gradient(180deg, #abb7d4 0%, hsl(220, 10%, 82%) 100%);
}

.carouselButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.carouselButton {
  padding: 15px;
}
