ul {
  display: flex;
  gap: 15px;
}

.categoryCard {
  list-style: none;

  width: 100%;
  border-radius: 20px;
}

button {
  cursor: pointer;
}
.active {
  background-color: white;
}

.categoryCard button {
  border: none;
  background-color: blue;
  padding: 10px;
}
