.heroCards {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.heroMovieTitle {
  position: absolute;
  top: 0;
}

.playLeftMovieBtn {
  position: absolute;
  bottom: 5%;
  left: 15%;
}

.playRightMovieBtn {
  position: absolute;
  bottom: 5%;
  right: 30%;
}

.heroCards img {
  width: 500px;
}
