.movieCard {
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 4px rgb(99, 150, 192);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 13rem;
  justify-content: space-between;
}

.movieCard img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.trendingMovies {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-around;
}
